<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  <link rel="shortcut icon" href="images/favicon.ico">

</head>



<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2%;width:50%;vertical-align:middle">
              <h1>
                Junrui Liu
              </h1>
              <p>I am a fourth-year PhD student studying computer science at <a href="https://www.ucsb.edu/">UC Santa
                  Barbara</a>, advised by Professor <a href="https://fredfeng.github.io/">Yu Feng</a>. I am interested
                in all things related to programming languages, especially in verification and synthesis.
              </p>
              <p>

              </p>
              <p>
                I received my undergraduate degree from Vassar College, and my M.S. from Yale University.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/en/e/qzWe0mau">Email</a>
                &nbsp;/&nbsp;
                <a href="https://github.com/junrui-liu">GitHub</a>
                &nbsp;/&nbsp;
                <!-- <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->
                <a href="https://www.linkedin.com/in/junrui-liu/"> LinkedIn </a>
                <!-- &nbsp;/&nbsp;
                <a href="https://junrui-liu.github.io"> CV </a> -->
              </p>
            </td>
            <td style="padding:4%;width:20%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile0.png">
            </td>

          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2%;padding-top:0%;padding-bottom:0%;width:100%;vertical-align:middle">
              <h2>Publications & Manuscripts</h2>
            </td>
          </tr>
          <tr>
            <td style="padding:2%;padding-top:0%;padding-bottom:0%;width:100%;vertical-align:middle">
              <p>(⁺ means equal contribution)</p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2%;padding-top:0%;padding-bottom:0%;width:75%;vertical-align:middle">
              <h3>
                {% if post.doi %}
                <a href="{{post.doi}}">{{post.title}}</a>
                {% else %}
                <a href="{{site.url}}/#">{{post.title}}</a>
                {% endif %}
              </h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <!-- , {{ post.date | date: "%Y" }} -->
              <br>
              <!-- 
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
            -->
              <p></p>
              <!-- {{ post.excerpt }} -->
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2%;padding-bottom:0%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <!-- <p>
                I'm interested in ...
              </p> -->

              <p>
              <h3>Awards</h3>
              <ul>
                <li><a href="https://engineering.ucsb.edu/news/class-2024-selects-teaching-assistants-year">Outstanding
                    Teaching Assistant in Computer Science (2024)</a>
                <li><a href="https://engineering.ucsb.edu/news/class-2023-selects-teaching-assistants-year">Outstanding
                    Teaching Assistant in Computer Science (2023)</a>
                </li>
              </ul>


              <h3>Co-instructor</h3>
              <ul>
                <li><a href="https://github.com/fredfeng/CS292C/">CS292C - Computer-Aided Reasoning for
                    Software</a> (Spring'24)
                </li>
              </ul>

              <h3>Teaching assistant</h3>
              <ul>
                <li><a href="https://github.com/fredfeng/CS162/tree/winter-2022">CS162: Programming
                    Languages</a>
                  (Winter'24,
                  Winter'22, Winter'23)
                </li>
                <li><a href="https://github.com/fredfeng/CS160">CS160: Translation of Computer
                    Programs</a> (Spring'23,
                  Fall'21)
                </li>
                <li><a href="https://github.com/fredfeng/CS190-blockchain">CS190J: Blockchain
                    Technologies and Security</a> (Spring'24)
                </li>
              </ul>
              </p>
            </td>
          </tr>
        </table>
        <br>

        <table style="
              width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2%;padding-bottom:0%;width:100%;vertical-align:middle">
              <h2>Talks & Tutorials</h2>
              <!-- <p>
                I'm interested in ...
              </p> -->
              <ul>
                <li>Polymorphism, Curry-Howard, and Program Verification (guest lecture for CS162 @ UCSB)</li>
                <li>Formal Verification for Zero-Knowledge Proofs (Applied ZK Workshop @ SBC'22)</li>
                <li>Introduction to Interactive Theorem Proving in Coq (0xPARC Summer Residency 2022)</li>
                <li>Refinement Types and Program Verification (guest lecture for CS162 @ UCSB)
                </li>
              </ul>
            </td>
          </tr>
        </table>


        <br>


        <table style="
              width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2%;padding-bottom:0%;width:100%;vertical-align:middle">
              <h2>Personal</h2>
              <!-- <p>
                I'm interested in ...
              </p> -->
              <p>I enjoy playing music. I'm studying <a
                  href="https://music.ucsb.edu/participate/ensembles/carillon">carillon</a>
                with <a href="https://music.ucsb.edu/people/faculty/wesley-arai">Wesley Arai</a>. As an undergrad at
                Vassar
                College, I studied
                organ with <a href="http://www.gailarcher.com/artist.html">Gail Archer</a>.</p>
              <p>
                I am a modest weeb. I enjoy お笑い,
                ラジオ, and reading Murakami. Here's my anime <a href="/images/3by3.png">3x3</a>.
              </p>
              <p>
                Random stuff: Solver-Aided Chorale Composition (<a href="/pdfs/choco.pdf">poster</a>)</p>
            </td>
          </tr>
        </table>


        <br>
        <br>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from
                <a style="font-size:small;" href="https://github.com/leonidk/new_website">[1]</a>
                and
                <a style="font-size:small;" href="https://jonbarron.info/">[2]</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>